---
---

<div id='mapLoader'></div>
<script>
    import { Loader } from "@googlemaps/js-api-loader";

    let map;
    const center = { lat: 43.2607637294967, lng: -4.264787714405649 };
    const zoom = 14;
    const loader = new Loader({
        apiKey: "AIzaSyD52meBZItLhvKwmtCeL1DUlz1rWIMBIgc",
        version: "weekly",
    });

    loader.load().then(async () => {
        const { Map } = await google.maps.importLibrary("maps");

        map = new Map(document.getElementById("mapLoader"), {
            center: center,
            zoom: zoom,
        });
    });
</script>

<style lang='scss'>
    #mapLoader {
        height: 300px;
        width: 300px;
    }
</style>
