@import "./variables/_color.scss";
@import "./mixins/_fonts.scss";

* {
    @include mx-font-barlow;
}

body {
    min-height: 100vh;
    background-color: #f5f4ee;
}

p {
    font-size: 1.1rem;
}

.space-section {
    background-color: $color-light-yellow;
    height: 1px;
    padding: 2px 0;
}

.font-start-midnight {
    @include mx-font-start-midnight;
}
