.ui-wrapper {
    border: 1px solid $color-ui-test; /* Comentar al final */

    width: 100%;
}

.ui-row {
    border: 1px solid $color-ui-test; /* Comentar al final */

    padding: 5px;
}

.ui-col {
    border: 1px solid $color-ui-test; /* Comentar al final */

    padding: 5px;
}
