---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import About from "../components/About.astro";
---

<Layout title='Boda de Carlos e Inés'>
    <Header />
    <main>
        <About />
        <!-- Componentes -->
        <!-- Componentes -->
        <!-- Componentes -->
        <!-- Componentes -->
    </main>
    <Footer autor='Carlos Rayón Álvarez' />
</Layout>
