---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import About from "../components/AboutUs.astro";
import EventLocation from "../components/EventLocation.astro";
import EventTimes from "../components/EventTimes.astro";
import Footer from "../components/Footer.astro";
import ConfirmAssistance from "../components/ConfirmAssistance.astro";
import PlayList from "../components/PlayList.astro";
---

<Layout title="Boda de Carlos e Inés">
  <main class="container-lg">
    <Header />
    <div class="space-section"></div>
    <About />
    <div class="space-section"></div>
    <EventLocation />
    <div class="space-section"></div>
    <EventTimes />
    <div class="space-section"></div>
    <ConfirmAssistance />
    <div class="space-section"></div>
    <PlayList />
    <div class="space-section"></div>
    <Footer autor="Carlos Rayón Álvarez" />
  </main>
</Layout>
