---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import EventLocation from "../components/EventLocation.astro";
import Footer from "../components/Footer.astro";
---

<Layout title='Boda de Carlos e Inés'>
    <main class='container max-w-6xl '>
        <Header />
        <About />
        <EventLocation />
        <Footer autor='Carlos Rayón Álvarez' />
    </main>
</Layout>
