:root {
    --color-ui-test-100: #ffb6b6;
    --color-ui-test-200: #b6f6ff;
    --color-ui-test-300: #b6f6ff;

    --color-main-100: #e6e6e2;
}

$color-ui-test-100: #ffb6b6;
$color-ui-test-200: #b6f6ff;
$color-ui-test-300: #b6f6ff;

$color-main-100: #e6e6e2;
