---
import TitleSection from "./parts/TitleSection.astro";
---

<section class="container">
  <TitleSection title="¡Nos casamos!" toUpper />

  <div class="grid grid-cols-1 md:grid-cols-2 place-content-center">
    <div class="grid place-content-center p-5 order-2 md:order-1">
      <img
        class="object-contain logo"
        src="../../public/assets/images/logo_fecha.png"
        alt="imagen 1"
      />
    </div>
    <div class="grid place-content-center p-5 order-1 md:order-2">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates,
        ipsam laboriosam? Ratione ipsum, neque corporis fugit, quam unde fugiat
        corrupti, accusantium sunt nihil totam in labore repellat laborum
        architecto impedit.
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 place-content-center">
    <div class="grid place-content-center p-5">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates,
        ipsam laboriosam? Ratione ipsum, neque corporis fugit, quam unde fugiat
        corrupti, accusantium sunt nihil totam in labore repellat laborum
        architecto impedit.
      </p>
    </div>
    <div class="grid place-content-center p-5">
      <img
        class="object-contain rounded-lg"
        src="https://dummyimage.com/500x300/000/fff.png"
        alt="imagen 1"
      />
    </div>
  </div>
</section>

<style>
  .logo {
    max-width: 500px;
  }
</style>
