---
import { Icon } from "astro-icon";
---

<section class="container celebration grid grid-cols-1 lg:grid-cols-2 gap-11">
  <div class="flex justify-center items-center flex-col">
    <div class="circle-icon">
      <Icon
        name="la:ring"
        class="animate__animated animate__bounce animate__infinite infinite animate__slow"
      />
    </div>

    <h2 class="celebration__title font-start-midnight">Boda</h2>

    <div class="celebration__info">
      <h3>Dia</h3>
      <p>Sabado 15 de Junio - 13h</p>
      <a href="#" class="button-link">Confirmar Asistencia</a>
    </div>

    <div class="celebration__info">
      <h3>Lugar</h3>
      <p>Restaurante Los Molinos de Ruente</p>
      <a href="#" class="button-link">¿Donde esta?</a>
    </div>
  </div>

  <div class="flex justify-center items-center flex-col mt-10 lg:mt-0">
    <div class="circle-icon">
      <Icon
        name="mdi:party-popper"
        class="animate__animated animate__bounce animate__infinite infinite animate__slow"
      />
    </div>
    <h2 class="celebration__title font-start-midnight">Celebración</h2>
    <div class="celebration__info">
      <h3>Otra</h3>
      <p>Otra cosa</p>
      <a href="#" class="button-link">Link otra cosa</a>
    </div>
    <div class="celebration__info">
      <h3>Otra</h3>
      <p>Otra cosa</p>
      <a href="#" class="button-link">Link otra cosa</a>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../styles/variables/_color.scss";

  .celebration {
    padding: 50px 0;
  }

  .celebration__title {
    text-align: center;
    background-color: $color-gold;
    border-radius: 10% 54% 35% 10% / 10% 31% 10% 32%;
    min-width: 50%;
    color: white;
    font-size: 4rem;
    letter-spacing: 5px;
    padding: 0 10px;
  }

  .celebration__info {
    padding: 15px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 18px;
    h3 {
      color: $color-dark-red;
      font-size: 2rem;
    }

    p {
      font-size: 1.5rem;
    }
  }

  .button-link {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: $color-dark-red;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s ease;
    border-radius: 30px;
    width: 200px;
  }

  .button-link:hover {
    background-color: inherit;
    color: $color-dark-red;
    border: 1px solid $color-gold;
  }
</style>
