---
import TitleSection from "./parts/TitleSection.astro";
import { Icon } from "astro-icon";
---

<section class="container">
  <TitleSection title="Ayudanos a que todo salga perfecto" toUpper />

  <div class="grid grid-cols-1 md:grid-cols-2 place-content-center">
    <div class="grid p-5 text-center">
      <p>
        Ayudanos a que todo salga bien.
      </p>
      <p>
        Rellena el formulario para confirma la
        asistencia y todos los detalles que necesitamos saber.
      </p>
    </div>
    <div class="grid place-content-center p-5">
      <a
        href="https://forms.gle/X3vzZC8L7hg4iJc47"
        target="_blank"
        class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold text-center py-2 px-4 rounded w-64 shadow-xl"
      >
        Formulario <Icon name="maki:arrow" class="w-5 ps-2 inline" />
      </a>
    </div>
  </div>
</section>
