---
import TitleSection from "./parts/TitleSection.astro";
import MapIframe from "./parts/maps/MapIframe.astro";
---

<section class="container">
  <TitleSection title="¿Donde nos casamos?" toUpper />
  <div class="grid grid-cols-1 md:grid-cols-2 place-content-center">
    <div class="grid p-5 order-2 md:order-1">
      <MapIframe />
    </div>
    <div class="grid place-content-center p-5 order-1 md:order-2">
      <p class="text-center">
        La boda se celebrará en el Restaurante Los Molinos de Ruente. En la
        poblacion de Ruente (Cantabria), un pueblo del valle de Cabuérniga
        cercano a Cabezón de la Sal.
      </p>
    </div>
  </div>
</section>
