---
import TitleSection from "./parts/TitleSection.astro";
import Maps from "./parts/Maps.astro";
---

<section class='container'>
    <TitleSection title='Donde es el tema' toUpper />
    <Maps></Maps>
</section>
