---
---
<header>
    <h1>Boda de Carlos e Inés</h1>
    <h2>Boda de Carlos e Inés</h2>
    <h3>Boda de Carlos e Inés</h3>
</header>

<style lang='scss'>
    h1 {
        // color: blue;
        // text-align: center;
    }
</style>
