---
import TitleSection from "./parts/TitleSection.astro";

---

<section class="container">
  <TitleSection title="¡Ayudanos a llegar lejos!" toUpper />

  <div class="grid grid-cols-1 md:grid-cols-2 place-content-center">
    <div class="grid p-5 order-2 md:order-1">
      <img
        class="object-contain rounded-lg"
        src="../../public/assets/images/reunion.jpg"
        alt="imagen 1"
      />


    </div>
    <div class="grid place-content-center p-5 order-1 md:order-2">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ipsa
        cumque aliquid sint placeat minus amet delectus quis, dolore, rem
        nesciunt doloremque, totam culpa veniam impedit praesentium tenetur
        similique nobis.
      </p>

      <h2 class="text-center text-xl mt-5">ES8321033107119773767290</h2>
    </div>
  </div>
</section>
