---
import { Icon } from "astro-icon";
---

<div class="wrapper-background">
  <section class="container instagram grid grid-cols-1">
    <div class="flex justify-center items-center flex-col">
      <div class="circle-icon">
        <!-- <Icon
          name="mdi:instagram"
          class="icon-instagram invisible animate__animated animate__slow"
        /> -->
        <span
          class="icon-container icon-instagram invisible animate__animated animate__slow"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            ><rect x="0" y="0" width="24" height="24" fill="none" stroke="none"
            ></rect><path
              fill="currentColor"
              d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"
            ></path></svg
          >
        </span>
      </div>

      <div class="instagram__info">
        <h2 class="title-block">Compartimos este día junto a ti</h2>
        <p>¡Sube tus fotos y vídeos!</p>
        <a
          href="https://www.instagram.com/ines_carlos_2024"
          target="_blank"
          class="button-link">ver en Instagram</a
        >
      </div>
    </div>
  </section>
</div>

<script>
  import { observerAnimation } from "../scripts/observerAnimation";
  observerAnimation(".icon-instagram", "animate__flipInY");
</script>

<style lang="scss">
  @import "../styles/variables/_color.scss";

  .instagram {
    padding: 50px 0;
  }
  .instagram__info {
    padding: 15px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 18px;
    max-width: 90%;
    h3 {
      color: $color-dark-green;
      font-size: 2rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
</style>
