---
import Icon from "astro-icon";
import Tips from "./parts/Tips.astro";
import Modal from "./parts/Modal.astro";
import PlayListIframe from "./parts/PlayListIframe.astro";
---

<section class="party container grid grid-cols-1 md:grid-cols-2 gap-7">
  <div
    class="party__block party__block--playlist flex justify-center items-center flex-col shadow-lg"
  >
    <h2 class="title-block my-6">Música</h2>

    <div class="circle-icon party__circle-icon">
      <span
        class="icon-container icon-music invisible animate__animated animate__slow"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M21 3v12.5a3.5 3.5 0 0 1-3.5 3.5a3.5 3.5 0 0 1-3.5-3.5a3.5 3.5 0 0 1 3.5-3.5c.54 0 1.05.12 1.5.34V6.47L9 8.6v8.9A3.5 3.5 0 0 1 5.5 21A3.5 3.5 0 0 1 2 17.5A3.5 3.5 0 0 1 5.5 14c.54 0 1.05.12 1.5.34V6z"
          ></path></svg
        >
      </span>
    </div>

    <div class="party__text">
      <p>¿Cuál es la canción que no debe faltar en la playlist de la fiesta?</p>
    </div>

    <button id="openModalPlayList" class="button-link party__button"
      >Colabora</button
    >
  </div>

  <div
    class="party__block party__block--tips flex justify-center items-center flex-col shadow-lg"
  >
    <h2 class="title-block my-6">Tips y Notas</h2>

    <div class="circle-icon party__circle-icon">
      <!-- <Icon
        name="mdi:book-edit-outline"
        class="icon-notes invisible animate__animated animate__slow"
      /> -->
      <span
        class="icon-container icon-notes invisible animate__animated animate__slow"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          ><rect x="0" y="0" width="24" height="24" fill="none" stroke="none"
          ></rect><path
            fill="currentColor"
            d="M16 14H8a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2m0-4h-6a1 1 0 0 0 0 2h6a1 1 0 0 0 0-2m4-6h-3V3a1 1 0 0 0-2 0v1h-2V3a1 1 0 0 0-2 0v1H9V3a1 1 0 0 0-2 0v1H4a1 1 0 0 0-1 1v14a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V5a1 1 0 0 0-1-1m-1 15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V6h2v1a1 1 0 0 0 2 0V6h2v1a1 1 0 0 0 2 0V6h2v1a1 1 0 0 0 2 0V6h2Z"
          ></path></svg
        >
      </span>
    </div>
    <div class="party__text">
      <p>
        Información adicional para los invitados. Peluquerias, tiendas, dónde
        comer...
      </p>
    </div>

    <button id="openModalTips" class="button-link party__button"
      >Descubrir</button
    >
  </div>

  <Modal
    id="modalPlayList"
    open="openModalPlayList"
    close="closeModalPlayList"
    title="Sugerir una canción"
  >
    <PlayListIframe slot="body" />
    <a
      href="https://www.youtube.com/playlist?list=PLn6psApLjE88WUhspeTS_TM489Uxgb4Xi&jct=qhtRw-fBoNH14l7WPKY4DJXpdyIzxg"
      target="blank"
      class="button-link"
      slot="footer">Añadir canción</a
    >
  </Modal>

  <Modal
    id="modalTips"
    open="openModalTips"
    close="closeModaltips"
    title="Tips y notas"
  >
    <div class="flex justify-center items-center flex-col" slot="body">
      <Tips />
    </div>
  </Modal>
</section>

<script>
  import { observerAnimation } from "../scripts/observerAnimation";
  observerAnimation(".icon-music", "animate__fadeInLeft");
  observerAnimation(".icon-notes", "animate__fadeInRight");
</script>

<style lang="scss">
  @import "../styles/variables/_color.scss";

  .party {
    padding: 60px 20px;
  }
  .party__block {
    height: 100%;
    padding: 1rem;
    border-radius: 25px;
    background-color: $color-light-beige;
    color: $color-dark-green;
  }

  .party__text {
    text-align: center;
    margin-bottom: 2rem;
    height: 60px;
  }

  .party__button {
    margin-bottom: 2rem;
  }

  .party__circle-icon {
    width: 160px;
    height: 160px;
    padding: 30px;
  }
</style>
