---
import { Icon } from "astro-icon";

const linkBusSanvi = "https://maps.app.goo.gl/TGGSAvEw5kGTo6YXA";
const linkBusComillas = "https://maps.app.goo.gl/wRc5VoVHtYgJjWde6";
const linkBusCabe = "https://maps.app.goo.gl/3WpvN7QAuhtp1AVK8";
---

<!-- component -->
<div class="relative wrap overflow-hidden w-full h-full bus-time">
  <!-- <div
    class="border-2-2 absolute border-opacity-20 border-gray-700 h-full border"
    style="left: 16px"
  > -->
</div>
<!-- San Vicente -->
<div class="mb-2 flex justify-start items-center w-full">
  <div
    class="z-20 flex items-center order-1 me-3 shadow-xl w-8 h-8 p-1 rounded-full bus-time__icon animate__animated animate__bounceInLeft"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
      ><path
        fill="currentColor"
        d="M18 11H6V6h12m-1.5 11a1.5 1.5 0 0 1-1.5-1.5a1.5 1.5 0 0 1 1.5-1.5a1.5 1.5 0 0 1 1.5 1.5a1.5 1.5 0 0 1-1.5 1.5m-9 0A1.5 1.5 0 0 1 6 15.5A1.5 1.5 0 0 1 7.5 14A1.5 1.5 0 0 1 9 15.5A1.5 1.5 0 0 1 7.5 17M4 16c0 .88.39 1.67 1 2.22V20a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1h8v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1.78c.61-.55 1-1.34 1-2.22V6c0-3.5-3.58-4-8-4s-8 .5-8 4z"
      ></path></svg
    >
  </div>
  <div
    class="order-1 rounded-lg shadow-xl w-5/12 p-2 animate__animated animate__backInRight bus-time__card"
  >
    <a href={linkBusSanvi} target="_blank">
      <h3 class="bus-time__title">San Vicente</h3>
      <p class="bus-time__text">
        <strong>Salida:</strong> 11:40
        <br />
        <strong>Lugar:</strong> Estación autobúses
      </p>
    </a>
  </div>
</div>

<!-- Comillas -->
<div class="mb-2 flex justify-start items-center w-full">
  <div
    class="z-20 flex items-center order-1 me-3 shadow-xl w-8 h-8 p-1 rounded-full bus-time__icon animate__animated animate__bounceInLeft"
  >
    <!-- <Icon name="mdi:bus" /> -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
      ><path
        fill="currentColor"
        d="M18 11H6V6h12m-1.5 11a1.5 1.5 0 0 1-1.5-1.5a1.5 1.5 0 0 1 1.5-1.5a1.5 1.5 0 0 1 1.5 1.5a1.5 1.5 0 0 1-1.5 1.5m-9 0A1.5 1.5 0 0 1 6 15.5A1.5 1.5 0 0 1 7.5 14A1.5 1.5 0 0 1 9 15.5A1.5 1.5 0 0 1 7.5 17M4 16c0 .88.39 1.67 1 2.22V20a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1h8v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1.78c.61-.55 1-1.34 1-2.22V6c0-3.5-3.58-4-8-4s-8 .5-8 4z"
      ></path></svg
    >
  </div>
  <div
    class="order-1 rounded-lg shadow-xl w-5/12 p-2 animate__animated animate__backInRight bus-time__card"
  >
    <a href={linkBusComillas} target="_blank">
      <h3 class="bus-time__title">Comillas</h3>
      <p class="bus-time__text">
        <strong>Salida:</strong> 11:55
        <br />
        <strong>Lugar:</strong> Parking del Palacio
      </p>
    </a>
  </div>
</div>

<!-- Cabezon -->
<div class="mb-2 flex justify-start items-center w-full">
  <div
    class="z-20 flex items-center order-1 me-3 shadow-xl w-8 h-8 p-1 rounded-full bus-time__icon animate__animated animate__bounceInLeft"
  >
    <!-- <Icon name="mdi:bus" /> -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
      ><path
        fill="currentColor"
        d="M18 11H6V6h12m-1.5 11a1.5 1.5 0 0 1-1.5-1.5a1.5 1.5 0 0 1 1.5-1.5a1.5 1.5 0 0 1 1.5 1.5a1.5 1.5 0 0 1-1.5 1.5m-9 0A1.5 1.5 0 0 1 6 15.5A1.5 1.5 0 0 1 7.5 14A1.5 1.5 0 0 1 9 15.5A1.5 1.5 0 0 1 7.5 17M4 16c0 .88.39 1.67 1 2.22V20a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1h8v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1.78c.61-.55 1-1.34 1-2.22V6c0-3.5-3.58-4-8-4s-8 .5-8 4z"
      ></path></svg
    >
  </div>
  <div
    class="order-1 rounded-lg shadow-xl w-5/12 p-2 bus-cabe cursor-pointer animate__animated animate__backInRight bus-time__card"
  >
    <a href={linkBusCabe} target="_blank">
      <h3 class="bus-time__title">Cabezon</h3>
      <p class="bus-time__text">
        <strong>Salida:</strong> 12:15
        <br />
        <strong>Lugar:</strong> Enfrente de EL Cruze
      </p>
    </a>
  </div>
</div>

<div class="mt-6">
  <p class="bus-time__text-return">
    A las 00:00 saldra autobùs de vuelta con el itinerario inverso
  </p>
  <small>Pulsa en cada horario para ver el lugar exacto</small>
</div>

<style lang="scss">
  @import "../../styles/variables/_color.scss";
  .time-border-simple {
    background-color: white;
    border: 2px solid #f1e2c9;
  }
  .time-border {
    background-color: white;
    border: 2px solid #f1e2c9;
    transition: border-color 0.5s ease;

    &:hover {
      border-color: #506326;
    }
  }

  .bus-time__card {
    background-color: $color-bg-beige;
    border: 2px solid $color-gold;
    width: 100% !important;
    transition: 0.5s ease;
    cursor: pointer;

    &:hover {
      border-color: $color-dark-green;
    }
  }

  .bus-time__icon {
    background-color: $color-bg-beige;
    border: 2px solid $color-gold;
  }
  .bus-time__title {
    font-size: 1.2rem;
    font-weight: bold;
    color: $color-dark-green;
    text-align: start;
  }

  .bus-time__text {
    font-size: 1rem;
    text-align: start;
  }

  .bus-time__text-return {
    font-weight: 900;
  }
</style>
