---
import MapIframe from "./maps/MapIframe.astro";
import MapScript from "./maps/MapScript.astro";
import MapLoader from "./maps/MapLoader.astro";
import MyApp from "../react/ReactComponentExample";
---

<div class='grid grid-cols-1 md:grid-cols-3 gap-9 place-content-center'>
    <!-- <MapScript /> -->
    <MapIframe />
    <MapLoader />
    <!-- <MyApp client:only="react" /> -->
</div>
