---
import MapIframe from "./maps/MapIframe.astro";
---

<div class='grid grid-cols-1 md:grid-cols-2 gap-9 place-content-center'>
    <MapIframe />
    <div class='grid place-content-center'>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quo inventore accusamus veniam iste fugiat illo commodi modi, rerum
            saepe aspernatur nulla ad facere sed fuga quia pariatur ea quisquam!
        </p>
    </div>
</div>
