---
import MapIframe from "./MapIframe.astro";
import MapScript from "./MapScript.astro";
---

<div class='grid grid-cols-1 md:grid-cols-2 gap-9 place-content-center'>
    <MapIframe />
    <MapScript />
</div>
