---
import Icon from "./Icon.astro";
import ListIcon from "./ListIcon.astro";
---

<div>
  <div class="mb-5">
    <p class="bus-time__text-return">
      Servicios destacados y que recomendamos para los invitados en Cabezón de
      la Sal.
    </p>
  </div>


  <ListIcon tips="Bar/Pub:" description="La Farandula (Comillas) 💜">
    <span class="w-full">
      <Icon icon="bar" />
    </span>
  </ListIcon>

  <ListIcon tips="Alojamiento:" description="Hostería El Cruce">
    <span class="w-full">
      <Icon icon="hotel" />
    </span>
  </ListIcon>

  <ListIcon tips="Peluquería:" description="Monica Roldan Peluquería">
    <span class="w-full">
      <Icon icon="secador" />
    </span>
  </ListIcon>
  <ListIcon tips="Peluquería:" description="Monica Roldan Peluquería">
    <span class="w-full">
      <Icon icon="secador" />
    </span>
  </ListIcon>
  <ListIcon tips="Estética:" description="Alma Bella y Salud">
    <span class="w-full">
      <Icon icon="pintalabio" />
    </span>
  </ListIcon>
  <ListIcon tips="Restaurante:" description="El Cafe">
    <span class="w-full">
      <Icon icon="restaurant" />
    </span>
  </ListIcon>
  <ListIcon tips="Restaurante:" description="El Paraiso">
    <span class="w-full">
      <Icon icon="restaurant" />
    </span>
  </ListIcon>
  <ListIcon tips="Restaurante:" description="Resturante El Cruce">
    <span class="w-full">
      <Icon icon="restaurant" />
    </span>
  </ListIcon>

  <ListIcon tips="Mercería:" description="Encarnita">
    <span class="w-full">
      <Icon icon="merceria" />
    </span>
  </ListIcon>

  <ListIcon tips="SuperMercado:" description="Maestegui">
    <span class="w-full">
      <Icon icon="supermarket" />
    </span>
  </ListIcon>
  <ListIcon tips="Pastelería:" description="Las Hijas de Pedro">
    <span class="w-full">
      <Icon icon="pastel" />
    </span>
  </ListIcon>

  <div class="mt-5">
    <p class="bus-time__text-return">¡Si tienes alguna duda contactanos!</p>
  </div>
</div>

<style lang="scss">
  @import "../../styles/variables/_color.scss";
</style>
