---
import ListIcon from "./ListIcon.astro";
---

<div>
  <div class="mb-5">
    <p class="bus-time__text-return">
      Servicios destacados y que recomendamos para los invitados
    </p>
  </div>

  <ListIcon icon="mdi:hair-dryer" tips="Peluqueria:" description="La que sea" />
  <ListIcon icon="mdi:hotel" tips="Alojamientos:" description="Hosteria El Cruce" />
  <ListIcon icon="ph:paint-brush-fill" tips="Maquillaje:" description="La que sea" />
  <ListIcon icon="ion:restaurant-sharp" tips="Restaurante:" description="La que sea" />
  <ListIcon icon="mdi:shoe-ballet" tips="Zapateria:" description="La que sea" />
  <ListIcon icon="mdi:paper-text" tips="Papeleria:" description="La que sea" />
  <ListIcon icon="map:grocery-or-supermarket" tips="Super Mercado:" description="La que sea" />


  <div class="mt-5">
    <p class="bus-time__text-return">
      Otra cosa que queramos poner . . .
    </p>
  </div>
</div>

<style lang="scss">
  @import "../../styles/variables/_color.scss";
</style>
