---
import Icon from "./Icon.astro";
import ListIcon from "./ListIcon.astro";
---

<div>
  <div class="mb-5">
    <p class="bus-time__text-return">
      Servicios destacados y que recomendamos para los invitados en Cabezón de
      la Sal y alrededores.
    </p>
  </div>

  <ListIcon
    tips="Alojamiento:"
    description="Hostería El Cruce (habitación doble 60€ y triple 85€, decir que es para la boda de Inés y Carlos del 15 de junio)"
    link="https://www.google.es/maps/place/Hoster%C3%ADa+El+Cruce/@43.3087878,-4.2408994,17z/data=!3m1!4b1!4m9!3m8!1s0xd490e1f52b0f2dd:0xbcceb3b867fc1be5!5m2!4m1!1i2!8m2!3d43.3087878!4d-4.2383191!16s%2Fg%2F1tmxgw54?entry=ttu"
  >
    <span class="w-full">
      <Icon icon="hotel" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Peluquerías señoras:"
    description="Monica Roldan Peluquería"
    link="https://www.google.com/maps/place/Monica+Roldan+Peluqueria/@43.3076415,-4.2401448,17z/data=!3m1!4b1!4m6!3m5!1s0xd490e2193e43981:0x5e127b3ecff64a18!8m2!3d43.3076415!4d-4.2375645!16s%2Fg%2F11gx_nc3kh?entry=ttu"
  >
    <span class="w-full">
      <Icon icon="secador" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Peluquerías señoras:"
    description="Mygoya Peluqueros"
    link=" https://www.google.com/maps/place/Migoya+Peluqueros/@43.3073721,-4.2391958,17z/data=!3m1!4b1!4m6!3m5!1s0xd490e21d9cbfcc1:0x12a886daeea28537!8m2!3d43.3073721!4d-4.2366155!16s%2Fg%2F11h4by262c?entry=ttu"
  >
    <span class="w-full">
      <Icon icon="secador" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Peluquerías señoras:"
    description="Pelillos a la mar"
    link=" https://www.google.es/maps/place/Pelillos+a+la+mar/@43.3078382,-4.2384363,17z/data=!4m8!3m7!1s0xd490f3c056b5f31:0xde52ee2ce4d1dae5!8m2!3d43.3078382!4d-4.235856!9m1!1b1!16s%2Fg%2F11h10zqbmq?entry=ttu"
  >
    <span class="w-full">
      <Icon icon="secador" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Peluquería/Barbería caballeros:"
    description="Peluquería Andreu"
    link="https://www.google.es/maps/place/Peluquer%C3%ADa+Andreu/@43.3075421,-4.2388553,17z/data=!3m1!4b1!4m6!3m5!1s0xd490fde8a898825:0x389b779733f5b208!8m2!3d43.3075421!4d-4.236275!16s%2Fg%2F11vjpjl10h?entry=ttu"
  >
    <span class="w-full">
      <Icon icon="secador" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Estética:"
    description="Estética Alma Belleza&Salud"
    link="https://www.google.es/maps/place/Alma+Belleza%26Salud/@43.3050336,-4.2393312,17z/data=!3m1!4b1!4m6!3m5!1s0xd490e213a6c9c81:0x9b46ec44fea597af!8m2!3d43.3050336!4d-4.2367509!16s%2Fg%2F11bw2_cj_p?entry=ttu"
  >
    <span class="w-full">
      <Icon icon="pintalabio" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Estética:"
    description="Centro de Estética Nuria Banque"
    link="https://www.google.es/maps/place/Centro+De+Est%C3%A9tica+Nuria+Banque/@43.3080537,-4.237446,17z/data=!3m1!4b1!4m6!3m5!1s0xd490e20134bd191:0x50d5c9bcf3643dcd!8m2!3d43.3080537!4d-4.2348657!16s%2Fg%2F11j2y_548j?entry=ttu"
  >
    <span class="w-full">
      <Icon icon="pintalabio" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Estética:"
    description="Monica Roldan Peluquería"
    link="https://www.google.com/maps/place/Monica+Roldan+Peluqueria/@43.3076415,-4.2401448,17z/data=!3m1!4b1!4m6!3m5!1s0xd490e2193e43981:0x5e127b3ecff64a18!8m2!3d43.3076415!4d-4.2375645!16s%2Fg%2F11gx_nc3kh?entry=ttu"
  >
    <span class="w-full">
      <Icon icon="pintalabio" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Pub/Bar:"
    description="La Farándula en Comillas"
    link="https://maps.app.goo.gl/SqaLxE6KYofCYdM59"
  >
    <span class="w-full">
      <Icon icon="bar" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Pub/Bar:"
    description="El jardín en Cabezón de la Sal"
    link="https://www.google.es/maps/place/Caf%C3%A9+Concierto+El+Jard%C3%ADn/@43.3095082,-4.2394501,17z/data=!3m1!4b1!4m6!3m5!1s0xd490e1f669557f1:0x5e2dbfd9b966ad90!8m2!3d43.3095082!4d-4.2368698!16s%2Fg%2F11cm_h1289?entry=ttu"
  >
    <span class="w-full">
      <Icon icon="bar" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Pub/Bar:"
    description="El Reino en Cabezón de la Sal"
    link="https://www.google.es/maps/place/El+Reino+Ecobar/@43.3092375,-4.2407287,17z/data=!3m1!4b1!4m6!3m5!1s0xd490e1f55e22daf:0x6c3e7906985228af!8m2!3d43.3092375!4d-4.2381484!16s%2Fg%2F11c1lk50mr?entry=ttu"
  >
    <span class="w-full">
      <Icon icon="bar" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Pub/Bar:"
    description="Bar El Soti en Cabezón de la Sal"
    link="https://www.google.es/maps/place/Bar+El+Soti/@43.3083722,-4.2364113,17z/data=!3m1!4b1!4m6!3m5!1s0xd490e200c7cecef:0x40e6c045f309f62e!8m2!3d43.3083683!4d-4.233831!16s%2Fg%2F11fxb4jmnb?entry=ttu"
  >
    <span class="w-full">
      <Icon icon="bar" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Pub/Bar:"
    description="Café Vinilo (desayuno, aperitivo)"
    link=" https://www.google.es/maps/place/Caf%C3%A9+Vinilo/@43.308744,-4.2554733,15z/data=!3m1!4b1!4m6!3m5!1s0xd490e21dcbaa93d:0xd1186a3b5d6f7431!8m2!3d43.3087299!4d-4.2370407!16s%2Fg%2F11b6dgfzvs?entry=ttu"
  >
    <span class="w-full">
      <Icon icon="bar" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Cafeteria/Restaurante:"
    description="Restaurante El Café (desayuno tarde, aperitivo, comida y cena)"
    link="https://www.google.es/maps/place/El+Caf%C3%A9/@43.3070784,-4.2559446,15z/data=!3m1!4b1!4m6!3m5!1s0xd490e21d1a4f30b:0x396b749fc67ef646!8m2!3d43.3070799!4d-4.237512!16s%2Fg%2F11bx4lf6bp?entry=ttu"
  >
    <span class="w-full">
      <Icon icon="restaurant" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Cafeteria/Restaurante:"
    description="El Paraíso (desayuno, aperitivo, comida y cena)"
    link="https://www.google.es/maps/place/Restaurante+El+Para%C3%ADso/@43.3087854,-4.2408402,17z/data=!4m6!3m5!1s0xd490e1fb914eee5:0x164a7a49af3d6735!8m2!3d43.3081296!4d-4.2357791!16s%2Fg%2F1wzt3pbp?entry=ttu"
  >
    <span class="w-full">
      <Icon icon="restaurant" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Cafeteria/Restaurante:"
    description="Restaurante El Cruce (desayuno tarde, aperitivo, comida y cena)"
    link="https://www.google.es/maps/place/Restaurante+El+Cruce.Co/@43.3087854,-4.2408402,17z/data=!3m1!4b1!4m6!3m5!1s0xd490e21fe5c1e43:0xda8053e7dd9bdebb!8m2!3d43.3087854!4d-4.2382599!16s%2Fg%2F11dywvv6sk?entry=ttu"
  >
    <span class="w-full">
      <Icon icon="restaurant" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Cafeteria/Restaurante:"
    description="Cafetería Avenida (desayuno, aperitivo)"
    link=" https://www.google.es/maps/place/Cafeter%C3%ADa+Avenida+Bar/@43.308062,-4.2539711,15z/data=!3m1!4b1!4m6!3m5!1s0xd490e2035d14f3d:0x917dc0a32772d74d!8m2!3d43.3080635!4d-4.2355385!16s%2Fg%2F12qfzz6fp?entry=ttu"
  >
    <span class="w-full">
      <Icon icon="restaurant" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Bazar/Mercería:"
    description="Encarnita"
    link="https://www.google.es/maps/place/Encarnita/@43.3079289,-4.2382593,17z/data=!4m6!3m5!1s0xd490e204ca4ca27:0x61da5f7096822922!8m2!3d43.3079289!4d-4.235679!16s%2Fg%2F11f3n3w60h?entry=ttu"
  >
    <span class="w-full">
      <Icon icon="merceria" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Bazar/Mercería:"
    description="Amigo Super Euro Bazar"
    link="https://www.google.es/maps/place/Amigo+Super+Euro+Bazar/@43.3085217,-4.25287,15z/data=!3m1!4b1!4m6!3m5!1s0xd490e20170b8727:0xddad13dfb39db599!8m2!3d43.3085076!4d-4.2344374!16s%2Fg%2F11h0bphmv9?entry=ttu"
  >
    <span class="w-full">
      <Icon icon="merceria" />
    </span>
  </ListIcon>
  <ListIcon
    tips="SuperMercado:"
    description="Maestegui"
    link=" https://www.google.es/maps/place/Maestegui/@43.3084242,-4.2536446,15z/data=!3m1!4b1!4m6!3m5!1s0xd4911dfa1306831:0xc73cfb7b9ba59dcb!8m2!3d43.3084257!4d-4.235212!16s%2Fg%2F1tc_s9_8?entry=ttu"
  >
    <span class="w-full">
      <Icon icon="supermarket" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Supermercado:"
    description="Lupa"
    link="https://maps.app.goo.gl/uGsD7xdyF4PL9PzZA"
  >
    <span class="w-full">
      <Icon icon="supermarket" />
    </span>
  </ListIcon>

  <p class="my-4">Cabezón cuenta con uno de los mejores hojaldres de Cantabria, no te vayas sin probarlo y llevarte un poquito para compartirlo.</p>

  <ListIcon
    tips="Confitería/Pastelería:"
    description="Confitería Milhojas"
    link="https://www.google.com/maps/place/Las+Hijas+de+Pedro-Hojaldre+de+Cantabria./@43.3088786,-4.2385115,17z/data=!3m1!4b1!4m6!3m5!1s0xd490e21d80594b5:0x7d0a92f5e9f209b9!8m2!3d43.3088786!4d-4.2359312!16s%2Fg%2F11btlv5qs1?hl=es&entry=ttu"
  >
    <span class="w-full">
      <Icon icon="pastel" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Confitería/Pastelería:"
    description="Las Hijas de Pedro"
    link=" https://www.google.com/maps/place/Confiter%C3%ADa+Milhojas/@43.3073984,-4.2374364,17z/data=!3m1!4b1!4m6!3m5!1s0xd490e219749737d:0x3822813ffe5cf4d1!8m2!3d43.3073984!4d-4.2374364!16s%2Fg%2F11c531v_5c?hl=es&entry=ttu"
  >
    <span class="w-full">
      <Icon icon="pastel" />
    </span>
  </ListIcon>

  <div class="mt-5">
    <p class="font-bold">¡Si tienes alguna duda contáctanos!</p>
  </div>
</div>

<style lang="scss">
  @import "../../styles/variables/_color.scss";
</style>
