---
interface Props {
    title: string;
    toUpper?: boolean;
}

const { title, toUpper = false } = Astro.props;
---

<div class='TitleSection py-9'>
    <h2 class:list={['TitleSection-text text-5xl', {uppercase: toUpper}]}>{title}</h2>
</div>
